@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face {
    font-family: "Honnestly-4e70";
    src: url("Fonts/Honnestly-4e70.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #777;
}


html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/usa.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.company-name {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "Honnestly-4e70";
    color: white;
    font-weight: normal;
}

.company-name-large {
    font-size: 5em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2em;
}

.about-company-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}


.btn-header {
    display: flex;
    margin: 2em auto;
    color: white;
    border: 2px solid #2D9CBD;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.2em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CBD;
    font-size: 3em;
    border-radius: 50%;
    padding: 0;
    width: 80px;
    height: 80px;
}

.fa-play-circle {
    color: #2D9CBD;
}

.brand-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.brand-row:last-child {
    border-bottom: none;
}

.brand {
    display: inline-block;
    padding-right: .5em;
}

.brand-name {
    color: #555;
    width: 25%;
    font-weight: bold;
}

.brand-model-1 {
    width: 25%;
}

.brand-model-2 {
    width: 34%;
}

.brand-btn {
    max-width: 12%;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CBD;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 25%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 30%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #cc4c4c;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px  solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.2em;
}

@media (max-width: 460px) {
    .main-nav {
        font-size: 1em;
    }

    .main-nav ul {
        padding-inline-start: 0;
    }

    .section-header {
        font-size: 1.5em;
    }

    .company-name {
        font-size: 1.5em;
    }

    .company-name-large {
        font-size: 5em;
    }

    .footer-nav li {
        padding: 0;
    }
    .cart-column {
        margin-right: 0;
    }
    .cart-item {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 40%;
    }
    .cart-price {
        width: 35%;
    }
    .cart-item-title {
        margin-left: 0;
    }
    .cart-quantity {
        flex-direction: column;
        justify-content: space-evenly;
        width: 25%;
    }
    .cart-quantity-input {
        margin-right: 0;
    }
}
